$primary: #b4c978;
$secondary: #c0896c;

$font-family-sans-serif: "Julius Sans One", sans-serif !default;
$font-family-serif: "Hind Madurai", serif !default;

@import "../node_modules/bootstrap/scss/bootstrap";
